body {
    width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    
}

dialog {
    width: 300px;
    height: 400px;
    display: flex;;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}